{% for id, quantity in cart %}
	<div>
	
	{% for product in products %}
	
		{% if product.id in [id] %}
 			{{ product.name }}

			<span>
			   	<a title="Remove this item" href="{{ path('TohouriStoreBundle_cart_remove', {'id': id}) }}">
			 		({{ cart[id] }})
					
			    </a>
			</span>
		{% endif %}
		
	{% endfor %}
	</div>
{% else %}

     {{ "commandeOutil7" | trans }}
	
	
	
{% endfor %}
<P>
	<div id="receiver_list">	   
     
	 <div align="center">
	<form action="{{ path('TohouriStoreBundle_cart_add') }}" method="post" {{ form_enctype(form2) }}>
	<table class="tabledim">
      
	  <tr class="couleur">
        <td class="couleur">{{ form_label(form2.organisationunit) }}</td>
        <td class="couleur">{{ form_errors(form2.organisationunit) }}
                            {{ form_widget(form2.organisationunit) }}
		</td>
	  </tr>
  </table>
  
           {{ form_rest(form2) }}
		 		<p>
		        	<button type="submit">{{ "envoyer" | trans }}</button>
		    	</p>
		</form>
	</div>
	</div>
<div align="left">
<a href="{{ path('TohouriStoreBundle_cart_add', {'save': 'yes'})}}"><button type="submit">{{ "envoyer" | trans }}</button></a>
</div>
