{% for id, quantity in cart %}
	<div>
	{% for product in products %}
	
		{% if product.id in [id] %}
 			{{ product.name }}

			<span>
			   	<a title="Remove this item" href="{{ path('TohouriStoreBundle_cart_remove', {'id': id}) }}">
			 		({{ cart[id] }})
			    </a>
			</span>
		{% endif %}
		
	{% endfor %}
	</div>
{% else %}
	nothing yet in your shopping cart.
{% endfor %}
<P>
	<div id="receiver_list">	   

		<form action="{{ path('TohouriStoreBundle_cart_add') }}" method="post" {{ form_enctype(form2) }}>
		{{ form_widget(form2) }}
		 		<p>
		        	<button type="submit">Expédier la commande</button>
		    	</p>
		</form>
	</div>
{#<div>
<a href="{{ path('TohouriStoreBundle_cart_add', {'save': 'yes'})}}">Enregistrer la commande pour modification ultérieure</a>
</div> #}
