{% extends "TohouriStoreBundle::layout.html.twig" %}

{% block assets %}
  <link rel="stylesheet" href="{{ asset("bundles/tohouristore/css/cart.css") }}" />
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js" type="text/javascript"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/jquery-ui.min.js" type="text/javascript"></script>
  <script src="{{ asset("bundles/tohouristore/js/cart.js") }}" type="text/javascript"></script>
{% endblock %}

{% block title %}Entrepôt d'outil de collecte{% endblock %}

{% block body %}


<fieldset> 
     <legend align="center"><h1>{{ "entrepot" | trans }}</h1></legend>
<div align="center">
<div id="shopping_cart">
  <h2><center>{{ "commande" | trans }}:</center></h2>
  
 	 
	             {% if app.session.flash('notice') %}
                <div class="flash-message">
                   <h6 font-color="red"> <em>Notice</em>: {{ app.session.flash('notice') }}</h6>
                </div>
            {% endif %}


  <div id="product_list">
  <img id="wastebin" src="{{ asset('bundles/tohouristore/images/supermarche.jpg') }}" class="PDFlogo1" />

		<form action="{{ path('TohouriStoreBundle_cart_add') }}" method="post" {{ form_enctype(form1) }}>
             <table class="tabledim">
      
	    <div align="center"> 
	    <tr class="couleur">
        <td class="couleur">{{ form_label(form1.quantity) }}</td>
		<td class="couleur">{{ form_errors(form1.quantity) }}
                            {{ form_widget(form1.quantity) }}
	    </td>
	  </tr>
	  <tr class="couleur">
        <td class="couleur">{{ form_label(form1.product) }}</td>
        <td class="couleur">{{ form_errors(form1.product) }}
                            {{ form_widget(form1.product) }}
		</td>
	  </tr>
  </table>
  
             {{ form_rest(form1) }}
	 		<p>
	        	<button type="submit">{{ "ajouter" | trans }}</button>
	    	</p>
		</form>		   
  </div>
  <hr class="fieldset">
  
  <h2>{{ "panier" | trans }}:</h2>
  

  <div id="cart" class="cart">
    <div id="items">
      {% include 'TohouriStoreBundle:Cart:cart.html.twig' with {'cart': cart, 'products': products, 'form2': form2} %} 
	   <div style="clear: both">
    </div>
	  <div id="wastebin" style="float:right">
    <img id="wastebin" src="{{ asset('bundles/tohouristore/images/trash.png') }}" alt="" />
  </div>
</fieldset>
	
    </div>	
  </div>

</div>
{% endblock %}