{% extends "TohouriStoreBundle::layout.html.twig" %}

{% block title %}Détail du Produit{% endblock %}

{% block body %}

<fieldset> 
     <legend align="center"><h1>{{ "detail_produit" | trans }}</h1></legend>
	 
	             {% if app.session.flash('notice') %}
                <div class="flash-message">
                   <h6 font-color="red"> <em>Notice</em>: {{ app.session.flash('notice') }}</h6>
                </div>
            {% endif %}

<table class="record_properties">
    <tbody>
        <tr>
            <th>{{ "id" | trans }}</th>
            <td>{{ product.id }}</td>
        </tr>
        <tr>
            <th>{{ "name" | trans }}</th>
            <td>{{ product.name }}</td>
        </tr>
        <tr>
            <th>{{ "code" | trans }}</th>
            <td>{{ product.code }}</td>
        </tr>
        <tr>
            <th>{{ "description" | trans }}</th>
            <td>{{ product.description }}</td>
        </tr>
        <tr>
            <th>{{ "price" | trans }}</th>
            <td>{{ product.price }}</td>
        </tr>
        <tr>
            <th>{{ "categorie" | trans }}</th>
            <td>{{ product.category }}</td>
        </tr>
    </tbody>
</table>


        <div align="center">  
        <ul class="record_actions">
    <li>
         
        <form action="{{ path('TohouriStoreBundle_category_edit', { 'id': product.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">{{ "editer" | trans }}</button>
            
          
		   
		           <form action="{{ path('TohouriStoreBundle_category_delete', { 'id': product.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">{{ "supprimer" | trans }}</button>
        </form>
	</ul>
		</div>
</fieldset>

<ul class="record_actions">
    <li>
        <a href="{{ path('TohouriStoreBundle_product') }}">
            <button type="submit">{{ "retour" | trans }}</button>
            
        </a>
    </li>

</ul>
{% endblock %}