{% extends "TohouriStoreBundle::layout.html.twig" %}

{% block title %}Détail du Produit{% endblock %}

{% block body %}

<h1>Détail du Produit</h1>

<table class="record_properties">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ product.id }}</td>
        </tr>
        <tr>
            <th>Name</th>
            <td>{{ product.name }}</td>
        </tr>
        <tr>
            <th>Code</th>
            <td>{{ product.code }}</td>
        </tr>
        <tr>
            <th>Description</th>
            <td>{{ product.description }}</td>
        </tr>
        <tr>
            <th>Price</th>
            <td>{{ product.price }}</td>
        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('TohouriStoreBundle_product') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('TohouriStoreBundle_product_edit', { 'id': product.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('TohouriStoreBundle_product_delete', { 'id': product.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
{% endblock %}