{% extends "TohouriStoreBundle::layout.html.twig" %}

{% block title %} Produits de la Categorie {{ category.name }} {% endblock %}

{% block body %}

<fieldset> 
     <legend align="center"><h1>{{ "produit_categorie" | trans }}</h1></legend>

<table class="records_list">
    <thead>
        <tr>
            <th>{{ "id" | trans }}</th>
            <th>{{ "name" | trans }}</th>
            <th>{{ "code" | trans }}</th>
            <th>{{ "description" | trans }}</th>
            <th>{{ "quantite" | trans }}</th>
            <th>{{ "action" | trans }}</th>
        </tr>
    </thead>
    <tbody>
    {% for product in products %}
        <tr>
            <td><a href="{{ path('TohouriStoreBundle_product_show', { 'id': product.id }) }}">{{ product.id }}</a></td>
            <td>{{ product.name }}</td>
            <td>{{ product.code }}</td>
            <td>{{ product.description }}</td>
            <td>{{ product.stock.quantity }}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('TohouriStoreBundle_product_show', { 'id': product.id }) }}">{{ "montrer" | trans }}</a>
                    </li>
                    <li>
                        <a href="{{ path('TohouriStoreBundle_product_edit', { 'id': product.id }) }}">{{ "editer" | trans }}</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
     <div align="center">
    <ul>
    <li>
        <a href="{{ path('TohouriStoreBundle_product_new') }}">
            <button type="submit">{{ "creer_entite" | trans }}</button>
        </a>
    </li>
    </ul>
         </div>
</fieldset>

<ul>
	<li>
       <a href="{{ path('TohouriStoreBundle_category') }}">
            <button type="submit">{{ "retour" | trans }}</button>
        </a>
    </li>
</ul>
{% endblock %}