{% extends "TohouriStoreBundle::layout.html.twig" %}

{% block title %}Liste des stocks disponibles{% endblock %}

{% block body %}

<fieldset> 
     <legend align="center"><h1>{{ "stock_dispo" | trans }} </h1></legend>

<table class="records_list">
    <thead>
        <tr>
            <th>{{ "produit" | trans }}</th>
            <th>{{ "quantite" | trans }}</th>
            <th>{{ "action" | trans }}</th>
        </tr>
    </thead>
    <tbody>
    {% for stock in stocks %}
        <tr class>
            <td><a href="{{ path('TohouriStoreBundle_product_show', { 'id': stock.product.id }) }}">{{ stock.product }}</a></td>
            <td>{{ stock.quantity }}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('TohouriStoreBundle_stock_show', { 'id': stock.id }) }}">{{ "montrer" | trans }}</a>
                    </li>
                    <li>
                        <a href="{{ path('TohouriStoreBundle_stock_add', { 'id': stock.product.id }) }}">{{ "editer" | trans }}</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</fieldset>
<ul>
    <li>
        <a href="{{ path('TohouriStoreBundle_stock_new') }}">
            <button type="submit">{{ "creer_entite" | trans }}</button>
        </a>
    </li>
</ul>
{% endblock %}