{% extends "TohouriStoreBundle::layout.html.twig" %}

{% block title %}Détail du Stock{% endblock %}

{% block body %}

<fieldset> 
     <legend align="center"><h1>{{ "detail_stock" | trans }}</h1></legend>

	 
	             {% if app.session.flash('notice') %}
                <div class="flash-message">
                   <h6 font-color="red"> <em>Notice</em>: {{ app.session.flash('notice') }}</h6>
                </div>
            {% endif %}


<table class="record_properties">
    <tbody>
        <tr>
            <th>{{ "produit" | trans }}: </th>
            <td>{{ stock.product }}</td>
        </tr>
        <tr>
            <th>{{ "quantite" | trans }}: </th>
            <td>{{ stock.quantity }}</td>
        </tr>
    </tbody>
</table>
</fieldset>

<ul class="record_actions">
    <li>
        <a href="{{ path('TohouriStoreBundle_stock') }}">
          {{ "retour" | trans }}
        </a>
    </li>
    <li>
        <a href="{{ path('TohouriStoreBundle_stock_add', { 'id': stock.id }) }}">
            <button type="submit">{{ "editer" | trans }}</button>
        </a>
    </li>
</ul>
{% endblock %}