{% extends "TohouriStoreBundle::layout.html.twig" %}

{% block title %} Modifier un Etablissement sanitaire {% endblock %}

{% block body %}

<fieldset> 
     <legend align="center"><h1> {{ "orgaunit_edit" | trans }}</h1></legend>
	 
	             {% if app.session.flash('notice') %}
                <div class="flash-message">
                   <h6 font-color="red"> <em>Notice</em>: {{ app.session.flash('notice') }}</h6>
                </div>
            {% endif %}

<div align="center">
<form action="{{ path('TohouriStoreBundle_orgunit_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
      <table class="tabledim">
      
	  <tr class="couleur">
        <td class="couleur">{{ form_label(edit_form.name) }}</td>
		<td class="couleur">{{ form_errors(edit_form.name) }}
                            {{ form_widget(edit_form.name) }}
	    </td>
	  </tr>
	  <tr class="couleur">
        <td class="couleur">{{ form_label(edit_form.address) }}</td>
        <td class="couleur">{{ form_errors(edit_form.address) }}
                            {{ form_widget(edit_form.address) }}
		</td>
	  </tr>
	  <tr class="couleur">
        <td class="couleur">{{ form_label(edit_form.parent) }}</td>
		<td class="couleur">{{ form_errors(edit_form.parent) }}
                            {{ form_widget(edit_form.parent) }}
	    </td>
	  </tr>
	  </tr>
	  <tr class="couleur">
        <td class="couleur">{{ form_label(edit_form.children) }}</td>
		<td class="couleur">{{ form_errors(edit_form.children) }}
                            {{ form_widget(edit_form.children) }}
	    </td>
	  </tr>
  </table>
  
     {{ form_rest(edit_form) }}

    
        <button type="submit">{{ "editer" | trans }}</button>
    
                <form action="{{ path('TohouriStoreBundle_orgunit_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">{{ "supprimer" | trans }}</button>
        </form>
</form>
</div>

</fieldset>

<ul class="record_actions">
    <li>
        <a href="{{ path('TohouriStoreBundle_orgunit') }}">
            <button type="submit">{{ "retour" | trans }}</button>
        </a>
    </li>
    
</ul>
{% endblock %}