{% extends "TohouriStoreBundle::layout.html.twig" %}

{% block title %} Liste des Etablissements sanitaires {% endblock %}

{% block body %}

<fieldset> 
     <legend align="center"><h1>{{ "orgaunit" | trans }}</h1></legend>
	 
	             {% if app.session.flash('notice') %}
                <div class="flash-message">
                   <h6 font-color="red"> <em>Notice</em>: {{ app.session.flash('notice') }}</h6>
                </div>
            {% endif %}

<table class="records_list">
    <thead>
        <tr>
            <th>{{ "id" | trans }}</th>
            <th>{{ "name" | trans }}</th>
            <th>{{ "adresse" | trans }}</th>
            <th>{{ "action" | trans }}</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('TohouriStoreBundle_orgunit_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.name }}</td>
            <td>{{ entity.address }}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('TohouriStoreBundle_orgunit_show', { 'id': entity.id }) }}">{{ "montrer" | trans }}</a>
                    </li>
                    <li>
                        <a href="{{ path('TohouriStoreBundle_orgunit_edit', { 'id': entity.id }) }}">{{ "editer" | trans }}</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</fieldset>

<ul>
    <li>
        <a href="{{ path('TohouriStoreBundle_orgunit_new') }}">
         <button type="submit">{{ "creer_entite" | trans }}</button>

        </a>
    </li>
</ul>
{% endblock %}