{% extends "TohouriStoreBundle::layout.html.twig" %}

{% block title %}Shipping{% endblock %}

{% block body %}
<fieldset> 
     <legend align="center"><h1>Shipping</h1></legend>

<table class="records_list">
    <thead>
        <tr>
            <th>{{ "id" | trans }}</th>
            <th>Status</th>
            <th>{{ "expedier" | trans }}</th>
            <th>{{ "etablir" | trans }}</th>
            <th>{{ "action" | trans }}</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('TohouriStoreBundle_shipping_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.status }}</td>
            <td>{% if entity.shipped %}{{ entity.shipped|date('Y-m-d H:i:s') }}{% endif%}</td>
            <td>{% if entity.created %}{{ entity.created|date('Y-m-d H:i:s') }}{% endif%}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('TohouriStoreBundle_shipping_show', { 'id': entity.id }) }}">{{ "montrer" | trans }}</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</fieldset>

<ul class="record_actions">
    <li>
        <a href="{{ path('TohouriStoreBundle_rapport') }}">
            <button type="submit">{{ "rapport" | trans }}</button>
        </a>
    </li>
</ul>

{% endblock %}
