{% extends "TohouriStoreBundle::layout.html.twig" %}

{% block title %}Shipping{% endblock %}

{% block body %}
<fieldset> 
     <legend align="center"><h1>Shipping</h1></legend>

<table class="record_properties">
    <tbody>
        <tr>
            <th>{{ "id" | trans }}</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Status</th>
            <td>{{ entity.status }}</td>
        </tr>
        <tr>
            <th>{{ "expedier" | trans }}</th>
            <td>{{ entity.shipped|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>{{ "etablir" | trans }}</th>
            <td>{{ entity.created|date('Y-m-d H:i:s') }}</td>
        </tr>
    </tbody>
</table>
</fieldset>
<ul class="record_actions">
    <li>
        <a href="{{ path('TohouriStoreBundle_shipping') }}">
            <button type="submit">{{ "retour" | trans }}</button>
        </a>
    </li>
</ul>
{% endblock %}