{% extends "TohouriStoreBundle::layout.html.twig" %}

{% block title %}Aide{% endblock %}

{% block left %}

{% endblock %}

{% block body %}

        <a href="{{ path('TohouriStoreBundle_aide_menu') }}" title="la page des menus">
            <img src="{{asset('bundles/tohouristore/images/opensource/go-bottom-5.png')}}" width="60px" height="30px">
        </a>
        <a href="{{ path('TohouriStoreBundle_aide_nouvelleCategorie') }}" title="Catégorie">
            <img src="{{asset('bundles/tohouristore/images/opensource/go-bottom-6.png')}}" width="60px" height="30px" align="right">
        </a>
<fieldset> 
     <legend align="center"><h1> </h1></legend>
	 

     <table class="di">
	 <tr class="di">
	 <td class="di">
Cette page est en ours de programmation

    </td>
	</tr>
	</table>

</fieldset>

        <a href="{{ path('TohouriStoreBundle_aide_menu') }}" title="la page des menus" >
            <img src="{{asset('bundles/tohouristore/images/opensource/go-bottom-5.png')}}" width="60px" height="30px">
        </a>
        <a href="{{ path('TohouriStoreBundle_aide_nouvelleCategorie') }}" title="Catégorie">
            <img src="{{asset('bundles/tohouristore/images/opensource/go-bottom-6.png')}}" width="60px" height="30px" align="right">
        </a>

{% endblock %}
{% block right %}

{% endblock %}